.blocked-content {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(90, 90, 90, 0.25)), to(transparent)) !important;
}
.blocked-content:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(90, 90, 90, 0.5)), to(rgba(90, 90, 90, 0.25))) !important;
}
.blocked-content:active {
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0 3px 10px, inset rgba(0, 0, 0, 0.25) 0 -2px 15px !important;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(90, 90, 90, 0.5)), to(rgba(90, 90, 90, 0.75))) !important;
}

/* Use !important to make sure these styles win over anything the page author specifies. */

.thepaperlink {
  background: #e0ecf1 !important;
  border:2px solid #dedede !important;
  border-top:2px solid #eee !important;
  border-left:2px solid #eee !important;
  padding: 2px 4px !important;
  border-radius: 4px !important;
  display: inline-block !important;
}
.thepaperlink_Off {
  display: none !important;
}
.thepaperlink > a, .thepaperlink > span {
  margin: 0 6px !important;
}
a.thepaperlink-green {
  color: green !important;
}
a.thepaperlink-red {
  color: red !important;
}
.thepaperlink-home {
  color: grey !important;
  text-decoration: none !important;
  cursor: pointer !important;
}