<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>tab_open_if_no_apikey</string>
		<key>Title</key>
		<string>Obtain the access permission to personalized services</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>rev_proxy</string>
		<key>Title</key>
		<string>Use our reserse proxied server (improved accessibility)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://a.b.c/d?url=</string>
		<key>Key</key>
		<string>ezproxy_prefix</string>
		<key>Title</key>
		<string>Use ezproxy with prefix (be cautious)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>oauth_status</string>
		<key>Title</key>
		<string>Enabled external services</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>