<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>tab_open_if_no_apikey</string>
		<key>Title</key>
		<string>Obtain the access permission to personalized services</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>rev_proxy</string>
		<key>Title</key>
		<string>Use our reserse proxied server, for users behind GFW</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://a.b.c/d?url=</string>
		<key>Key</key>
		<string>ezproxy_prefix</string>
		<key>Title</key>
		<string>Use ezproxy with prefix (be cautious)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>oauth_status</string>
		<key>Title</key>
		<string>Enabled external services</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>ajax_pii_link</string>
		<key>Title</key>
		<string>Check to solve missing PDF links locally</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>scihub_link</string>
		<key>Title</key>
		<string>Check to insert sci-hub.org PDF links</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>3</string>
		<key>Key</key>
		<string>scihub_limits</string>
		<key>MaximumValue</key>
		<integer>7</integer>
		<key>MinimumValue</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Per page, insert with a max of</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
